*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #d8dee9;
}
body{
    background-color: #2e3440;
}
.result{
    height: 60vh;
    overflow: scroll;
}
.summary{
    font-size: 30px;
    padding: 20px;
    transition: ease-in-out 200ms;
}
.summaryDone{
    color: #ebcb8b;
}
.summaryDone p{
    color: #ebcb8b;
}
.separator{
    width: 60vw;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d8dee9;
}
.quantity p{
    transition: ease-in-out 200ms;
}
.result p{
    padding: 5px;
}
.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 40vh;
}
.calculator div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #d8dee9;
    overflow: hidden;
}
button{
    color: #2e3440;
    border: 0px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    font-weight: 700;
    font-size: 20px
}
.plus{
    background-color: #bf616a;
    transition: ease-in-out 200ms;
}
.minus{
    background-color: #81a1c1;
    transition: ease-in-out 200ms;
}
.plusClicked{
    background-color: #d08770;
}
.minusClicked{
    background-color: #8fbcbb;
}